@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: #cec9d9;
    font-family: "Google Sans Code", monospace;
     font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
h1{
    margin: 50px 20px;
}
.tarjetas {
    
    height: 600px;
    width: 450px;
    padding: 16px;
    margin: 30px auto;
    border-radius: 50px;
    background: #cec9d9;
    box-shadow: inset 20px 20px 60px #afabb8,
            inset -20px -20px 60px #ede7fa;
    
}
.tarjetas h2,.tarjetas div,.tarjetas span{
    background-color: transparent;
}
.tarjetas span{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nombre {
    font-size: 2.5rem;
    margin: 40px;
    
}

#contador {
    font-size: 7rem;
    font-weight: bold;
    margin-bottom: 50px;
}

.botones {
    margin-top: 12px;
    font-size: 3rem;
    border-radius: 50px;
}

.botones button {
    border-radius: 30px;
    width: 70px;
    height: 50px;
    margin-right: 8px;
    
    cursor: pointer;
    border:solid #c2becc;
    background: #cec9d9;
    box-shadow:  20px 20px 60px #afabb8,
             -20px -20px 60px #ede7fa;
    
}
#decimales span{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin: 10px 0;
}
#decimales button{
    width: 50px;
    height: 50px;
    font-size: 2rem;
    border-radius: 50px;
    margin-right: 8px;
   
}

#btn-zero{
    width: 100%;
    height: 50px;
    font-size: 2rem;
    border-radius: 50px;
    margin-top: 30px;
}
#btn-zero p {
    width: 100%;
    height: 50px;
    font-size: 2rem;
    border-radius: 50px;
}
#btn-zero:hover, .botones button:hover {
    background: #d6d2e0;
    box-shadow:  10px 10px 20px #afabb8,
             -10px -10px 20px #ede7fa;
}