body {
    text-align: center;
    font-family: sans-serif;
}
#contador {
    font-weight: 900;
    font-size: 1.8rem;
    color : #333;
    transition: all 0.2s ease;
    font-family: 'Courier New', Courier, monospace;
}
#contador.changed {
    font-weight: bold;
    transition: all 0.2s ease;
}
.botones {
    padding: 30px;
}

button {
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    margin-right: 15px;
}
#btn-menos {
    background-color: #f00;
    font-weight: 800;
}
#btn-mas {
    background-color: #0f0;
    font-weight: 800;
}

h1 {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #5a4f4f;
}

footer {
      background-color: #222;   
      color: #fff;             
      text-align: center;       
      padding: 15px 0;          
      font-size: 14px;
      font-weight: 800;         
      position: fixed;        
      width: 100%;
      bottom: 0;
      left: 0;
    }

    